**/.vs/
samples/ASP.NET/.vs/
packages/
bin/
obj/
Release/
Debug/
.idea
/src/.idea
_ReSharper.*
*.suo
*.user
*.sdf
*.vspscc
*.bak
*.opensdf
*.ipch
*.pch
*.DotSettings
*.psess
*.vsp
*.log
*.ncb
Thumbs.db

